.home {
  width: 100%;
  background-color: #232323;
  margin: 0;
  padding: 80px 50px 50px 50px;
}

.topic {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  color: #ff8a18;
  font-size: 55px;
  font-family: "proxima Nova_extrabold";
}

.subtitle {
  color: #fff;
  font-family: "proxima Nova_light";
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.divForm{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 650px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputText {
  display: flex;
  color: #747474;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}


.name {
  background-color: #00bb99;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 120px 15px 20px;
  margin: 0px 0px 5px 0px;
  width: 100%;
}
.name::placeholder {
  color: white;
}

.email {
  background-color: #00bb99;
  color: white;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px 120px 15px 20px;
  margin: 0px 0px 5px 0px;
}
.email::placeholder {
  color: white;
}


.obrigatorio{
  color: #747474;
  margin: 0px 0px 10px 0px;
}

.inputFile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.select {
  color: white;
  background-color: #00bb99;
  width: 100%;
  padding: 15px 0px 15px 20px;
  border-radius: 10px;
  margin: 0px 0px 20px 0px;
  border: none;
}

.document {
  color: white;
  background-color: #00bb99;
  cursor: pointer;
  width: 100%;
  padding: 15px 0px 15px 20px;
  border-radius: 10px;
  margin: 0px 0px 20px 0px;
  border: none;
}
.document::file-selector-button {
  color: white;
  cursor: pointer;
  transition: ease 0.5s;
}

.document::file-selector-button:hover {
  transform: scale(1.1);
}

.description {
  color: #c9bcbc;
}

.textarea {
  font-size: 16px;
  color: #000000;
  background-color: rgb(245, 234, 234);
  resize: none;
  outline: none;
  width: 100%;
  padding: 15px 0px 50px 20px;
  border-radius: 10px;
  margin: 0px 0px 20px 0px;
  border: none;
}

.textarea::placeholder {
  color: #000000;
  font-style: italic;
}

.submitRow {
  text-align: right;
}

.submitCard {
  border: none;
  background-color: #009276;
  color: white;
  transition: ease 0.5s;
  cursor: pointer;
}

.submitCard:hover {
  transform: scale(1.1);
}

.photo {
  width: auto;
}
