.footer {
  width: 100%;
  margin: 0px;
  justify-content: center;
  padding: 50px 0px 0px 0px;
}

.title {
  color: #ff8a18;
  font-family: 'Proxima Nova_regular';
  text-align: center;
  font-weight: 600;
  padding: 0px 0px 100px 0px;
  font-size: 40px;
}

.titlefocus {
  font-family: 'Proxima Nova_extrabold';
  font-weight: 900;
  letter-spacing: 1.5px;
}

.memorial {
  position: relative;
  margin: 0px;
  padding: 0px 0px 100px 0px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.photo {
  position: absolute;
  left: 50%;
  top: -5%;
  transform: translate(-50%, -50%);
}

.photoOne {
  height: 150px;
  width: auto;
}

.pronunciation {
  display: inline-block;
  background-color: #00bb99;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  color: white;
  font-family: 'Proxima Nova_regular';
  font-weight: bold;
  padding: 80px 50px 0px 50px;
}

.name {
  padding: 30px 0px 0px 0px;
  color: #076453;
  font-size: 16px;
  font-family: 'Proxima Nova_regular';
  font-style: italic;
}

.socialTeam {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background: linear-gradient(to right, #00bb99, #007d5d);
  overflow: hidden;
  width: 100%;
}

.copyright {
  background-color: #004d3b;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-family: 'Proxima Nova_regular';
  font-size: 12px;
}

.socialIcons{
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a{
  text-decoration: none;
}

p{
  font-size: 16px;
  color: white;
  font-weight: 900;
  text-align: center;
  font-family: 'Proxima Nova_regular';
  font-size: 12px;
}
